<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hilla_000.firststep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fs_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="Main Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsMenuActivity"
            android:label="@string/title_activity_master"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseLearnCat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChoosePlayCat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseCharacter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectLearnLevel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Game_Matching" />
        <activity android:name=".Game_Banana" />

        <service
            android:name=".AppAudio"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
